#destinos-personalizados .carousel-control-next, #destinos-personalizados .carousel-control-prev {
 bottom: auto;
 top: 50%;
 background: #9e9e9e;
 width: 30px;
 height: 30px;
 border-radius: 100%;
}
.card h3 {
    margin-bottom: -8px;
}
.card p {
    margin-bottom: 0px;
}
.carousel-custom-control .carousel-control-next, .carousel-custom-control .carousel-control-prev {
 bottom: auto;
 top: 50%;
 background: #9e9e9e;
 width: 30px;
 height: 30px;
 border-radius: 100%;
}

.font-weight-bold, .font-weight-normal {
    font-size: 32px;
}
.turismo-nacional h1, .turismo-nacional h3, .turismo-nacional h6 {
    text-align: center;
}
.turismo-nacional h1 {
    background: #cccccc;
}
.turismo-nacional .card-body {
    min-height: 331px;
}
.search {
    background: #A780FF;
    margin:0px;
    padding: 0px;
    width: 100%;
    height: 200px;
    position: relative;
}
.filters {
    background: #FFF;
    border-radius: 10px;
    margin:15px;
    height: 150px;
    position: absolute;
    width: 95%;
}
.cards {
    background: rgb(176, 224, 236);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-a {
   padding: 20px 30px 25px;
}
.promo {
    color: #4300D2;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.banks-container {
    margin-right: 30px;
    display: flex;
  
}
.bank-logo {
    
    width: 60px;
    height: 35px;
    background-size: contain;
    background-position: center;
    background-color: #fff;
    border-radius: 4px;
    margin: 10px;
    flex: 1 1 auto;
    cursor: pointer;
}
.banks-facilities {
font-size: 12px;
color: #666;
padding: 4px 0 2px;
display: block;
max-width: 60px;
margin: 0 auto 20px;
}
.task_06 .banderas {
    padding: 0px 0px 7px 10px;
    
}
.task_06 .card {
    min-height: 500px;
}
.task_12 {
    background: white;
    width: 80%;
    margin: auto;
}

.head-footer,  {
    text-align: center;
    background: white;
}
.head-footer .parrafo a {
    text-decoration: none;
    color: #888888;
}
.head-footer button {
    border-radius: 21px;
    margin-top: 24px;
}
.head-footer input {
    margin-top: 24px;
}
.head-footer .row .icon-email {
    font-size: 67px;
    color: red;
}
.main-footer .row .col-6 .fab {
    padding: 0 15px;
}
.main-footer .row .col-3 a {
    color: #888888;
    text-decoration: none;
}
.informacion-extra .row .col-3 ul .small a {
    color: #888888;
    text-decoration: none;
}
.informacion-extra .row .col-2 ul .small a {
    color: #888888;
    text-decoration: none;
}
.task_12 ul li {
    list-style: none;
}
.informacion-extra .row .col-2 a, b, .task_12 .informacion-extra .row .col-3 a, b, .footer-resultados-vuelos .informacion-extra .row .col-2 a, b, .task_12 .informacion-extra .row .col-3 a, b {
    margin-left: -40px;
}
.informacion-extra .row .col-4 .small b {
    margin-left: 1px;
}
.footer-permisos-obligatorios {
    text-align: center;
}
.footer-footer {
    width: 100%;
    background:#101010;
    color: #c7c7c7;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    margin-top: 10px;
    max-height: 20px;
}
.footer-footer i, .magnitus, .footer-a {
    text-decoration: none;
    color: #c7c7c7;
}
.footer-footer .magnitus {
    color: white;
}
.footer-parrafo {
     width: 90%;
     text-align: center;
     color: #c7c7c7;
     margin-top: 10px;
}

.ofertas {
    background-color: aquamarine;
}
.resultados-de-vuelos {
    width: 90%;
    margin: auto;
    background: #eee;
}
.resultados-de-vuelos .row .col-2 {
    background: white;
    margin: 0px 10px;
    padding-left: 31px; 
    box-sizing: border-box;
}
.resultados-de-vuelos .row .col-9 {
    margin: 0px 31px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background:white;
}
.resultados-de-vuelos .row .col-9 .table th, td {
    padding: 0 20px;
}
.resultados-de-vuelos .col-9 {
    max-height: 100px;
}
.col-9 tr, th, td, .precios {
    border: solid 1px #ccc;
}
main {
    background: #E8E8E8;
}

/* Inicio CSS RNG */

.header {
    align-items: center;
    background: #fff;
    display: flex;
    font-size: 1.125em;
    height: 40px;
    justify-content: space-between;
    /* position: sticky; */
    top: 0;
    margin: 15px -120px;
    padding: 5px;
}

.logo-container {
    width: 4.625em;
}

.logo-container img {
    margin: 20px;
    width: 100%;
}

.help-text {
    margin: 20px;
}

.coments {
    text-align: center;
}
.offer1{
    color: #FFF;
position:absolute; /*El div será ubicado con relación a la pantalla*/
left:28px; /*A la derecha deje un espacio de 0px*/

bottom:0px; /*Abajo deje un espacio de 0px*/
height:77px; /*alto del div*/
z-index:0;
}
.offer2{
color: #FFF;
position:absolute; /*El div será ubicado con relación a la pantalla*/
left:155px; /*A la derecha deje un espacio de 0px*/

bottom: 39px; /*Abajo deje un espacio de 0px*/
height:px; /*alto del div*/
z-index:0;
}
.offer3{
    color: #FFF;
position:absolute; /*El div será ubicado con relación a la pantalla*/
left:56px; /*A la derecha deje un espacio de 0px*/

 /*Abajo deje un espacio de 0px*/
height:77px; /*alto del div*/
top: 15px;
z-index:0;
}

.offer-playstore{
    display: flex;
    max-width: 108px;
    background-color: black;
    max-height: 38px;
    transition:all 0.3s ease;
}
.offer-playstore2{
    display: flex;
    max-width: 108px;
    background-color:white;
    max-height: 38px;
    transition:all 0.3s ease;
}
.offer-playstore:hover{
    c-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    
}
.offer-playstore2:hover{
    c-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    
}
.offer-playstore3:hover{
    c-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    
}
.offer-playstore3{
    display: flex;
    width: 130px;
    background-color: black;
    max-height: 48px;
    transition:all 0.3s ease;
    position: absolute;
    left: 75px;
}