#destinos-personalizados .carousel-control-next, #destinos-personalizados .carousel-control-prev,  {
 bottom: auto;
 top: 50%;
 background: #9e9e9e;
 width: 30px;
 height: 30px;
 border-radius: 100%;
}
.card h3 {
    margin-bottom: -8px;
}
.card p {
    margin-bottom: 0px;
}
.carousel-custom-control .carousel-control-next, .carousel-custom-control .carousel-control-prev {
 bottom: auto;
 top: 50%;
 background: #9e9e9e;
 width: 30px;
 height: 30px;
 border-radius: 100%;
}

.font-weight-bold, .font-weight-normal {
    font-size: 32px;
}
.turismo-nacional h1, h3, h6 {
    text-align: center;
}
.turismo-nacional h1 {
    background: #cccccc;
}
.turismo-nacional .card-body {
    min-height: 331px;
}
.search {
    background: #A780FF;
    margin:0px;
    padding: 0px;
    width: 100%;
    height: 200px;
    position: relative;
}
.filters {
    background: #FFF;
    border-radius: 10px;
    margin:15px;
    height: 150px;
    position: absolute;
    width: 95%;
}
