#destinos-personalizados .carousel-control-next, #destinos-personalizados .carousel-control-prev,  {
 bottom: auto;
 top: 50%;
 background: #9e9e9e;
 width: 30px;
 height: 30px;
 border-radius: 100%;
}
.card h3 {
    margin-bottom: -8px;
}
.card p {
    margin-bottom: 0px;
}
.carousel-custom-control .carousel-control-next, .carousel-custom-control .carousel-control-prev {
 bottom: auto;
 top: 50%;
 background: #9e9e9e;
 width: 30px;
 height: 30px;
 border-radius: 100%;
}

.font-weight-bold, .font-weight-normal {
    font-size: 32px;
}
.turismo-nacional h1, h3, h6 {
    text-align: center;
}
.turismo-nacional h1 {
    background: #cccccc;
}
.turismo-nacional .card-body {
    min-height: 331px;
}
.search {
    background: #A780FF;
    margin:0px;
    padding: 0px;
    width: 100%;
    height: 200px;
    position: relative;
}
.filters {
    background: #FFF;
    border-radius: 10px;
    margin:15px;
    height: 150px;
    position: absolute;
    width: 95%;
}
.cards {
    background: rgb(176, 224, 236);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-a {
   padding: 20px 30px 25px;
}
.promo {
    color: #4300D2;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.banks-container {
    margin-right: 30px;
    display: flex;
  
}
.bank-logo {
    
    width: 60px;
    height: 35px;
    background-size: contain;
    background-position: center;
    background-color: #fff;
    border-radius: 4px;
    margin: 10px;
    flex: 1 1 auto;
    cursor: pointer;
}
.banks-facilities {
font-size: 12px;
color: #666;
padding: 4px 0 2px;
display: block;
max-width: 60px;
margin: 0 auto 20px;
}
.task_06 .banderas {
    padding: 0px 0px 7px 10px;
    
}
.task_06 .card {
    min-height: 500px;
}
.task_12 {
    background: white;
    width: 80%;
    margin: auto;
}

.head-footer {
    text-align: center;
    background: white;
}
.head-footer .parrafo a {
    text-decoration: none;
    color: #888888;
}
.head-footer button {
    border-radius: 21px;
    margin-top: 24px;
}
.head-footer input {
    margin-top: 24px;
}
.head-footer .row .icon-email {
    font-size: 67px;
    color: red;
}
.main-footer .row .col-6 .fab {
    padding: 0 15px;
}
.main-footer .row .col-3 a {
    color: #888888;
    text-decoration: none;
}
.informacion-extra .row .col-3 ul .small a {
    color: #888888;
    text-decoration: none;
}
.informacion-extra .row .col-2 ul .small a {
    color: #888888;
    text-decoration: none;
}
.task_12 ul li {
    list-style: none;
}
.informacion-extra .row .col-2 a, b, .task_12 .informacion-extra .row .col-3 a, b  {
    margin-left: -40px;
}
.informacion-extra .row .col-4 .small b {
    margin-left: 1px;
}

